*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    background-position: 0px 150px;
    background-image:url('../images/ghostBackgroundImage.jpg');
    background-size: cover;
}

.topNavbar{
    position: fixed;

    top:0px;
    right: 0px;

    width: 100%;
    height: 150px;

    background-color: #8B139F;
}

.topNavbarLogo{
    position: absolute;

    left: 0px;
}

.Logo{
    position: relative;

    width: 100px;
    height: 100px;

    margin-top: 25px;
    margin-left: 25px;
}

.topNavbarButtons{
    position: absolute;
    right: 0px;
}

.topNavbarButton{
    position: relative;
    background-color: whitesmoke;
    border-radius: 20px;
    width: 150px;
    height: 50px;

    right: 0px;
    margin: 50px 25px 50px 0px;

    border:3px solid purple;
    box-shadow: 1px 4px 0px 0px purple;
}


.startTrickOrTreatingButton{
    position: absolute;

    height: 150px;
    width: 700px;

    top: calc(50% - 75px);
    left: calc(50% - 350px);

    background-color: whitesmoke;

    border:3px solid orange;
    border-radius: 30px;
    box-shadow: 1px 4px 0px 0px orange;

    text-align: center;
    font-size: 100px;
    text-decoration: none;
    color: orange;
}

.bottomNavbar{
    position: fixed;

    bottom:0px;
    right: 0px;

    width: 100%;
    height: 100px;

    background-color: #8B139F;
}

.bottomNavbarButtons{
    position: absolute;
    float: right;
    right: 0px;
}

.bottomNavbarButton{
    position: relative;
    background-color: whitesmoke;
    border-radius: 20px;
    width: 150px;
    height: 50px;

    right: 0px;
    margin: 25px;

    border:3px solid purple;
    box-shadow: 1px 4px 0px 0px purple;
}

.bottomNavbarInfo{
    position: absolute;
    float: left;
    left: 0px;
}

.bottomNavbarText{
    font-family: 'Nosifer';font-size: 22px;
}

.SocialMediaImg{
    top: 0px;
    margin-left: 5px;
}