<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group F</title>

    <link href="static/css/index.css" rel="stylesheet" type="text/css">
</head>
<body>
    <nav class="topNavbar">
        <div class="topNavbarLogo">
            <div class="Logo"></div>
        </div>
        <div class="topNavbarButtons">
            <button class="Button">Home</button>
            <button class="Button">About</button>
            <button class="Button">Reviews</button>
            <button class="Button">Opt-In</button>
        </div>
    </nav>
    <nav class="bottomNavbar">

    </nav>
</body>
</html>